<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portifólio de Guilherme Favaro</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body style="background-color: #bbbbbb;">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <form class="d-flex" method="post">
      {% csrf_token %}
      <select class="form-control" id="descricao_divida" name="filtro" style="width: 350px;">
        <option value="todos">Todos os pedidos</option>
        <option value="n_pagos">Não pagos</option>
        <option value="pagos">Pagos</option>
      </select>
        <button class="btn btn-success" type="submit">Filtrar</button>
    </form>
  </nav>
    <table class="table table-striped" style="background-color: #fff;">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Cliente</th>
            <th scope="col">Dívida</th>
            <th scope="col">Descrição</th>
            <th scope="col">Data do pagamento</th>
          </tr>
        </thead>
        <tbody>
            <form method="post">
            {% csrf_token %}
            {% for devedor in devedores %}
            <tr>
                <th scope="row">{{ devedor.id }}</th>
                <td>{{ devedor.cliente }}</td>
                <td>R${{ devedor.divida }}</td>
                <td>{{ devedor.descricao }}</td>
                {% if devedor.pagou == True %}
                  <td>{{ devedor.data_modificacao }}</td>
                  <td><button class="btn btn-success" value="{{ devedor.id }}" name="nao pagou">Pago</button></td>
                {% else %}
                  <td><button class="btn btn-danger" value="{{ devedor.id }}" name="pago">À receber</button></td>
                {% endif %}
            </tr>
            {% endfor %} 
            </form>
        </tbody>
      </table>
</body>
</html>